@import "tailwindcss";

@import "tailwindcss";

@theme inline {
  --color-background: #080808;
  --color-foreground: #ffffff;
  --font-sans: var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif;
  --font-space: var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-red: #D42B2B;
  --color-brand-dark: #111111;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

/* Lenis Recommended CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
